<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Help | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
	<h1>This is the Help page</h1>
	<h2>Do you need help? wimp.</h2>	
</body>
</html>
