<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Home | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
	<h1>Welcome Home!</h1>
	<p>Pie is on the sill, and we're just drinking tea in the living room.</p>	
</body>
</html>
